In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\91636\\OneDrive\\Desktop\\Regex ML\\Data\\tips.csv")

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [5]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [7]:
x = df.drop(columns = ['smoker'])
y = df['smoker']

In [8]:
from sklearn.model_selection import train_test_split 

x_train , x_test , y_train ,y_test = train_test_split(x,y,test_size=  0.2 , random_state = 42)

# Step-1 ==> Simple Imputer ==> tip

In [15]:
si = SimpleImputer() 
x_train_tip = si.fit_transform(x_train[['tip']])
x_test_tip = si.fit_transform(x_test[['tip']])

In [16]:
x_train_tip.shape

(195, 1)

# Step-2 ==> Ordinal Encoding ==> sex

In [17]:
oe = OrdinalEncoder(categories = [[ 'Male' , 'Female']])
x_train_sex = oe.fit_transform(x_train[[ 'sex' ]])

In [18]:
x_train_sex.shape

(195, 1)

# Step-2 ==> OneHotEncoding ==> Day, Time

In [19]:
ohe = OneHotEncoder(drop = 'first' , sparse = False)
x_train_day_time = ohe.fit_transform(x_train[['day' , 'time']])

In [20]:
x_train_day_time.shape

(195, 4)

# Step-4 ==> Extracting Total Bill

In [22]:
x_train_total_bill = x_train.drop(columns = ['size' , 'tip' , 'time' , 'day', 'sex']).values

In [23]:
x_train_total_bill.shape

(195, 1)

# Step-5 ==> Concatenate all the Data

In [24]:
x_train_transformed = np.concatenate((x_train_tip , x_train_sex , x_train_day_time , 
                                      x_train_total_bill) , axis = 1)

In [25]:
x_train_transformed.shape

(195, 7)

# We can do this in one cell using Column Transformer

In [26]:
from sklearn.compose import ColumnTransformer

In [29]:
transformer = ColumnTransformer(transformers = [
    ('a' , SimpleImputer() , ['tip']), 
    ('b' , OrdinalEncoder(categories = [['Male' , 'Female']]) , ['sex']),
    ('c' , OneHotEncoder(sparse = False , drop = 'first') , ['day' , 'time'])
] , remainder = 'passthrough')

In [30]:
transformer.fit_transform(x_train).shape

(195, 8)