# Regular Expression

In [2]:
import re

Search the string to see if it starts with "The" and ends with "Spain

In [3]:
txt = "The rain in Spain"
x=re.search("^The.*Spain$",txt)
if(x):
    print("Yes")
else:
    print("No")

Yes

# Regex Functions

# 1. Findall
Returns a list containing all matches.

In [4]:
txt = "The rain in Spain."
x=re.findall('ai',txt)
x

['ai', 'ai']

The list contains the matches in order they are found. If no matches are found, an empty list is returned.

In [5]:
x = re.findall("Jaipur",txt)
x

[]

# 2. Search() 
Returns a match object if there is a match anywhere in the string.

In [9]:
txt = "I am in Jaipur"
x=re.search('\s',txt)
print("The first white space character is located in position: ",x.start())

The first white space character is located in position:  1

If no matches are found, the value None is returned.

In [10]:
x = re.search('Jaipur',txt)
x

# 3. Split()
Returns a list where the string has been split at each other.

In [11]:
txt = "I am in Jaipur"
x=re.split('\s',txt)
x

['I', 'am', 'in', 'Jaipur']

You cancontrol the number of occurances by specifying the maxsplit parameter.

In [13]:
x=re.split('\s',txt,1)
x

['I', 'am in Jaipur']

# 4. sub()
Replace one or many matches with a string.

In [14]:
x = re.sub("\s","S",txt)
x

'ISamSinSJaipur'

You can control the number of replacements by specifying the count parameter.

In [15]:
x = re.sub("\s","S",txt,2)
x

'ISamSin Jaipur'

# 1. MatchCharacters
MatchCharacters are characters with a special meaning.

In [16]:
txt = "I an in Jaipur"
x=re.findall("[a-z]",txt)
x

['a', 'n', 'i', 'n', 'a', 'i', 'p', 'u', 'r']

# 2. \
Signals a special sequence (can also be used to escape special characters.)

In [17]:
txt = "That will be 59 dollars"
# Find all digit characters.
x=re.findall("\d",txt)
x

['5', '9']

# 3.  .
any character (except newline character)

In [18]:
txt = "hello planet"
# Search for a sequence that starts with "he", followed by two (any) characters, and an "o".
x=re.findall("he..o",txt)
x

['hello']

# 4.  ^
Starts with

In [21]:
txt = "hello planet"
x=re.findall('^hello',txt)
print(x)
if(x):
    print("Yes")
else:
    print("No")

['hello']
Yes

# 5.  $
Ends with

In [23]:
txt = "hello planet"
x = re.findall("planet$",txt)
print(x)
if(x):
    print("Yes")
else:
    print("No")

['planet']
Yes